/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
    /*padding-bottom: 40px;*/
    color: #5a5a5a;
}


/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
    padding-right: 0;
    padding-left: 0;
}
.navbar-wrapper .navbar {
    padding-right: 15px;
    padding-left: 15px;
}
.navbar-wrapper .navbar .container {
    width: auto;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
    height: 500px;
    position: relative;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
    height: 500px;
}
.carousel-inner > .item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 500px;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
    margin-bottom: 20px;
    text-align: center;
}
.marketing h2 {
    font-weight: normal;
}
.marketing .col-lg-4 p {
    margin-right: 10px;
    margin-left: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
    margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -1px;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
    /* Navbar positioning foo */
    .navbar-wrapper {
        margin-top: 20px;
    }
    .navbar-wrapper .container {
        padding-right: 15px;
        padding-left: 15px;
    }
    .navbar-wrapper .navbar {
        padding-right: 0;
        padding-left: 0;
    }

    /* The navbar becomes detached from the top, so we round the corners */
    .navbar-wrapper .navbar {
        border-radius: 4px;
    }

    /* Bump up size of carousel content */
    .carousel-caption p {
        margin-bottom: 20px;
        font-size: 21px;
        line-height: 1.4;
    }

    .featurette-heading {
        font-size: 50px;
    }
}

@media (min-width: 992px) {
    .featurette-heading {
        margin-top: 120px;
    }
}

/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 767px) {
    .row-offcanvas {
        position: relative;
        -webkit-transition: all .25s ease-out;
        -o-transition: all .25s ease-out;
        transition: all .25s ease-out;
    }

    .row-offcanvas-right {
        right: 0;
    }

    .row-offcanvas-left {
        left: 0;
    }

    .row-offcanvas-right
    .sidebar-offcanvas {
        right: -50%; /* 6 columns */
    }

    .row-offcanvas-left
    .sidebar-offcanvas {
        left: -50%; /* 6 columns */
    }

    .row-offcanvas-right.active {
        right: 50%; /* 6 columns */
    }

    .row-offcanvas-left.active {
        left: 50%; /* 6 columns */
    }

    .sidebar-offcanvas {
        position: absolute;
        top: 0;
        width: 50%; /* 6 columns */
    }
}

.currentDeviceBadge {
    position: absolute;
    bottom: 10px;
    right: 0;
    width: 150px;
    z-index: 10;
    padding: 10px;
    margin-bottom: 0;
    height: 60px;
    min-height: 60px !important;
}

.circle {
    position: absolute;
    z-index: 10;
}

.circle-pos-desktop {
    width: 150px;
    height: 150px;
    bottom: 25px;
    right: 25px;
}

.long-pos-desktop {
    width: 309px;
    height: 108px;
    bottom: 25px;
    left: 50px;
}

.circle-pos-tablet {
    width: 150px;
    height: 150px;
    bottom: 25px;
    right: 50px;
}

.long-pos-tablet {
    width: 273px;
    height: 95px;
    bottom: 25px;
    right: 50px;
}

.circle-pos-mobile {
    width: 125px;
    height: 125px;
    bottom: 25px;
    right: 25px;
}

.long-pos-mobile {
    width: 160px;
    height: 55px;
    bottom: 25px;
    right: 50px;
}

.background {
    color: white;
    min-height: 300px;
}

.background-max-height {
    height: 400px;
}

.blue {
    background-color: blue;
    border-color: blue;
}

.grey {
    background-color: grey;
    border-color: blue;
}

.black {
    background-color: #000000;
    border-color: black;
}

.darkblue {
    background-color: rgb(0,68,138);
    border-color: rgb(0,68,138);
}

.blue {
    background-color: rgb(12,101,175);
    border-color: rgb(12,101,175);
}

.lightblue {
    background-image: url(images/spezialbaustein1.svg);
    border-color: rgb(122,178,225);
    background-repeat: no-repeat;
    background-size: cover;
}

.green {
    background-image: url(images/scribble-gruen1.svg);
    border-color: #22a060;
    background-repeat: no-repeat;
    background-size: cover;
}

.lightgreen {
    background-image: url(images/scribble-gruen2.svg);
    border-color: #7ae1a8;
    background-repeat: no-repeat;
    background-size: cover;
}

.yellow {
    background-image: url(images/scribble-gelb.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.orange {
    background-image: url(images/scribble-orange-01.svg);
    border-color: #d27200;
    background-repeat: no-repeat;
    background-size: cover;
}

.rosa {
    background-image: url(images/scribble-rosa.svg);
    border-color: #e1867a;
    background-repeat: no-repeat;
    background-size: cover;
}

.pink {
    background-image: url(images/scribble-pink.svg);
    border-color: #ba588d;
    background-repeat: no-repeat;
    background-size: cover;
}

.red {
    background-image: url(images/scribble-rot.svg);
    border-color: #a02222;
    background-repeat: no-repeat;
    background-size: cover;
}

.blue-circle {
    background-image: url(images/spezialbaustein1.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.magenta-circle {
    background-image: url(images/spezialbaustein2.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar-inverse {
    background-color: #22a060;
    border-color: #22a060;
}

.navbar-inverse .navbar-brand {
    color: black;
}

.navbar-inverse .navbar-nav>li>a {
    color: black;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    background-color: #2b542c;
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
    background-color: #2b542c;
}

.dropdown-menu {
    background-color: #2b542c;
}

.dropdown-menu>li>a {
    color: white;
}

.dropdown-header {
    color: #22a060;
}

.dropdown-toggle {
    margin-bottom: -1px;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: #2b542c;
}

.navbar-inverse .navbar-toggle {
    border-color: white;
}

.navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
    color: black;
}

.carousel-indicators li {

}

.carousel-indicators .active {

}

.carousel .item, .carousel-inner > .item > img, .carousel {
    height: 285px;
}

.content {
margin-top: 15px;
    margin-left: 15px;
}

.content .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    padding-right: 15px;
    margin-bottom: 15px;
    padding-left:0;
}

.offset-bottom {

}